services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      PAD_API_PORT: ${PAD_API_PORT:-43217}
      PAD_WEB_PORT: ${PAD_WEB_PORT:-43218}
      PAD_WEB_HOST: ${PAD_WEB_HOST:-0.0.0.0}
      PI_ENABLE_CODEX_TOOL: ${PI_ENABLE_CODEX_TOOL:-true}
      PI_CODEX_WORKDIR: ${PI_CODEX_WORKDIR:-/Users/nickbohm/Desktop/Projects}
      PI_CODEX_BRIDGE_URL: ${PI_CODEX_BRIDGE_URL:-http://host.docker.internal:43319}
      PI_LOG_TOOL_EVENTS: ${PI_LOG_TOOL_EVENTS:-true}
      PI_LOG_ASSISTANT_DELTAS: ${PI_LOG_ASSISTANT_DELTAS:-false}
      PI_LOG_EVENTS: ${PI_LOG_EVENTS:-false}
      PI_LOG_RAW_EVENTS: ${PI_LOG_RAW_EVENTS:-false}
      PI_LOG_CODEX_TOOL: ${PI_LOG_CODEX_TOOL:-true}
      PI_LOG_CODEX_ENV: ${PI_LOG_CODEX_ENV:-true}
      PI_LOG_CODEX_ENV_VERBOSE: ${PI_LOG_CODEX_ENV_VERBOSE:-true}
      PI_CODEX_TIMEOUT_MS: ${PI_CODEX_TIMEOUT_MS:-120000}
      PI_CODEX_IDLE_MS: ${PI_CODEX_IDLE_MS:-8000}
      PI_ENABLE_WHATSAPP_GATEWAY: ${PI_ENABLE_WHATSAPP_GATEWAY:-false}
      PI_WHATSAPP_PROVIDER: ${PI_WHATSAPP_PROVIDER:-baileys}
      PI_WHATSAPP_AUTO_START: ${PI_WHATSAPP_AUTO_START:-true}
      PI_WHATSAPP_AUTH_DIR: ${PI_WHATSAPP_AUTH_DIR:-/app/.whatsapp-auth}
      PI_WHATSAPP_PRINT_QR: ${PI_WHATSAPP_PRINT_QR:-true}
      WHATSAPP_ACCESS_TOKEN: ${WHATSAPP_ACCESS_TOKEN:-}
      WHATSAPP_PHONE_NUMBER_ID: ${WHATSAPP_PHONE_NUMBER_ID:-}
      WHATSAPP_VERIFY_TOKEN: ${WHATSAPP_VERIFY_TOKEN:-}
      WHATSAPP_WEBHOOK_VALIDATE_SIGNATURE: ${WHATSAPP_WEBHOOK_VALIDATE_SIGNATURE:-true}
      WHATSAPP_APP_SECRET: ${WHATSAPP_APP_SECRET:-}
      GIT_CONFIG_GLOBAL: /root/.config/git/config
    ports:
      - "43217:43217"
      - "43218:43218"
    volumes:
      - .:/app
      - /Users/nickbohm/Desktop/Projects:/Users/nickbohm/Desktop/Projects
      - /Users/nickbohm/.codex:/root/.codex
      - project_agent_demo_gh_config:/root/.config/gh
      - project_agent_demo_git_config:/root/.config/git
      - project_agent_demo_node_modules:/app/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: pnpm dev

volumes:
  project_agent_demo_gh_config:
  project_agent_demo_git_config:
  project_agent_demo_node_modules:
